h1{font-size: xx-large;}

p{font-family: 'Times New Roman', Times, serif; 
    color: black;
    margin-top: auto;
    text-align: left;
}

p.first-paragraph::first-letter{font-size: xx-large;
font-style: italic;
font-family: 'Bookman', 'URW Bookman L', serif;}


h2{font-family: 'Times New Roman', Times, serif; 
    font-size: x-large;
    text-decoration: underline;
    font-weight: 400;
    text-align: center;
    color: black;
}

img{
    width: 50%;
    margin: 0 0 0 0;
    float: right;
}

figcaption{text-align: center;}

